{% extends 'base.html.twig' %}

{% block title %}Détails d'une entreprise{% endblock %}

{% block body %}

   <h1>Détail d'une entreprise</h1>

   <h2>{{ entreprise }}</h2>
   <p>
    
    Adresse : {{ entreprise.adresseComplete }} <br>
    Date de création : {{ entreprise.dateCreation | date("m-d-Y") }}

   </p>

  
   {% if entreprise.employes | length > 0 %}

      <table class="table table-striped">
         <thead>
            <tr>
               <th> <h3>Liste des salariés</h3></th>
            </tr>
         </thead>
         <tbody>
         </tbody>
            {% for employe in entreprise.employes %}
               <tr><td><a href="{{path('show_employe', {'id':employe.id})}}">{{employe}}</a><br></td></tr>
            {% endfor %}
         </tbody>
      </table>

   {% else %}
      <p>Aucun salarié dans cette entreprise</p>
   {% endif %}


{% endblock %}